<% if notice %>
    <p id="notice"><%= notice %></p>
<% end %>

<h1>Your Pragmatic Catalog</h1>
<% cache ['store', Product.latest] do %>
  <% @products.each do |product| %>
        <% cache ['entry', product] do %>
          <%= image_tag(product.image_url) %>
          <h3><%= product.title %></h3>
          <%= product.description %>
          <%= number_to_currency(product.price) %>
          <%= button_to 'Add to Cart', line_items_path(product_id: product), remote: true %>
        <% end %>
  <% end %>
<% end %>